In [6]:
import pandas as pd
from pandas import Series
import numpy as np

In [7]:
pointers = [4, 5, 5, 10, 4, 3, 8, 8, 3, 9, 10]
s1 = Series(pointers, dtype=np.int8)

In [8]:
s1

0      4
1      5
2      5
3     10
4      4
5      3
6      8
7      8
8      3
9      9
10    10
dtype: int8

In [9]:
marks = {1: 10, 5: 4, 7: 8, 3: 10, 9: 2}
s2 = Series(marks)

In [10]:
s2

1    10
3    10
5     4
7     8
9     2
dtype: int64

In [11]:
roll = [3, 1, 7, 9, 10, 12, 23, 33, 30, 29, 6]
s3 = Series(pointers, index=roll, dtype=np.int8)

In [12]:
s3

3      4
1      5
7      5
9     10
10     4
12     3
23     8
33     8
30     3
29     9
6     10
dtype: int8

In [19]:
# indexing
# index in a series by roll number
print(s3.loc[33])
print(s3.loc[6])

# index in a series by implicit 0 based index
print(s3.iloc[0])
print(s3.iloc[-2])

# multiple indexing
print(s3.iloc[[0, -1]])
print(s3.loc[[1, 9, 10]])

8
10
4
9
3     4
6    10
dtype: int8
1      5
9     10
10     4
dtype: int8

In [22]:
# slicing
# slicing by implicit 0 based index
print(s3.iloc[:3])
print(s3.iloc[-4:])

# slicing by the specified roll number index
print(s3.loc[3:7]) # here both start and end index are inclusive

3    4
1    5
7    5
dtype: int8
33     8
30     3
29     9
6     10
dtype: int8
3    4
1    5
7    5
dtype: int8

In [26]:
# filtering
print(s3)
print(s3[s3 <= 5])
print(s3[(s3 % 2 != 0) & (s3 >= 5)])

3      4
1      5
7      5
9     10
10     4
12     3
23     8
33     8
30     3
29     9
6     10
dtype: int8
3     4
1     5
7     5
10    4
12    3
30    3
dtype: int8
1     5
7     5
29    9
dtype: int8

In [28]:
# indexing + assignment
print(s3)
s3.loc[10] = 1 # mutates the original series object
print(s3)

3      4
1      5
7      5
9     10
10     4
12     3
23     8
33     8
30     3
29     9
6     10
dtype: int8
3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     3
29     9
6     10
dtype: int8

In [31]:
# slicing + assignment
print(s3)
s3.iloc[-3:] -= 1 # mutated the same series object
print(s3)

3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     3
29     9
6     10
dtype: int8
3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8

In [35]:
# Mathematical operations
print(s3)
print(s3.mean())
print(s3.median())
print(s3.std())
stats = s3.describe()
print(stats)
print(stats.loc['50%'])

3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8
5.72727272727
5.0
3.03614588223
count    11.000000
mean      5.727273
std       3.036146
min       1.000000
25%       3.500000
50%       5.000000
75%       8.000000
max      10.000000
dtype: float64
5.0

In [40]:
# sorting
print(s3)
print(s3.sort_values(ascending=False))
print(s3)
print(s3.sort_index()) # ascending order of the roll number

3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8
9     10
6      9
29     8
33     8
23     8
7      5
1      5
3      4
12     3
30     2
10     1
dtype: int8
3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8
1      5
3      4
6      9
7      5
9     10
10     1
12     3
23     8
29     8
30     2
33     8
dtype: int8

In [42]:
print(s3)
# aggregation
# distinct set of marks scrored in the class along with its frequency
# Count distinct problem
s4 = s3.value_counts()
print(s4)

3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8
8     3
5     2
10    1
9     1
4     1
3     1
2     1
1     1
dtype: int64

In [44]:
print(s3)
print(s3.unique())

3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8
[ 4  5 10  1  3  8  2  9]

In [46]:
print(s3)
deducted_marks = s3 - 1
print(deducted_marks)

3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8
3     3
1     4
7     4
9     9
10    0
12    2
23    7
33    7
30    1
29    7
6     8
dtype: int8

In [49]:
print(s3)
evidence_report = [10, 33, 29]
s5 = Series([1, 1, 1], index=evidence_report)
print(s5)

3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8
10    1
33    1
29    1
dtype: int64

In [51]:
print(s3 - s5)
print(s3.sub(s5, fill_value=0))

1     NaN
3     NaN
6     NaN
7     NaN
9     NaN
10    0.0
12    NaN
23    NaN
29    7.0
30    NaN
33    7.0
dtype: float64
1      5.0
3      4.0
6      9.0
7      5.0
9     10.0
10     0.0
12     3.0
23     8.0
29     7.0
30     2.0
33     7.0
dtype: float64

In [54]:
print(s3)
print(s3.head(5))
print(s3.tail(3))

3      4
1      5
7      5
9     10
10     1
12     3
23     8
33     8
30     2
29     8
6      9
dtype: int8
3      4
1      5
7      5
9     10
10     1
dtype: int8
30    2
29    8
6     9
dtype: int8

In [57]:
s6 = s3 - s5
print(s6)
print(s6.dropna())

1     NaN
3     NaN
6     NaN
7     NaN
9     NaN
10    0.0
12    NaN
23    NaN
29    7.0
30    NaN
33    7.0
dtype: float64
10    0.0
29    7.0
33    7.0
dtype: float64

In [60]:
s7 = Series([23.5, 23.6, 23.5, None, 23.7, 23.4, 23.3])
print(s7)
s8 = s7.fillna(method='ffill')
print(s8)
s9 = s7.fillna(method='bfill')
print(s9)

0    23.5
1    23.6
2    23.5
3     NaN
4    23.7
5    23.4
6    23.3
dtype: float64
0    23.5
1    23.6
2    23.5
3    23.5
4    23.7
5    23.4
6    23.3
dtype: float64
0    23.5
1    23.6
2    23.5
3    23.7
4    23.7
5    23.4
6    23.3
dtype: float64